/* Add Goal */

.add-goal-btn {
    cursor: pointer;
    font-size: 0.8rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    font-family: "Noto Sans", serif;
    padding: 0.5em 1em;
    margin: 0.5em;
}



@media (min-width: 1024px) {
    .add-goal-btn {
        margin: 0.5em 0 1em;
        padding: 0.5em 1em;
        width: 100%;
    }
}