/* Add Goal */

.add-goal-btn {

    cursor: pointer;
    width: 31%;
    font-size: 1rem;
    background-color: #D9D9D9;
    border-radius: 5px;
    border: none;
    font-family: "Noto Sans", serif;

    padding: 0.5em;

}

@media(min-width:700px) and (max-width: 1023px) {
    .add-goal-btn {

        font-size: 1.25rem;
    }
}

@media (min-width: 1024px) {
    .add-goal-btn {

        margin: 1.25em;
        font-size: 1.25rem;
        padding: 0;
    }
}