/* Goal Form */

.goal-form {
    width: 100%;
    max-width: 600px;
    z-index: 1;
    box-shadow: 0px 0px 5px #011f23;
    background-color: #FAF9F6;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.goal-form-external {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px;
}

.goal-form-external {
    height: auto;
}

.goal-form-internal {
    display: flex;
    flex-direction: column;
    background-color: #FAF9F6;
    border-radius: 5px;
    padding: 1.25em;

}

/* Buttons */

.create-goal-btn {
    border: none;
    border-radius: 5px;
    background-color: #747474;
    width: 40%;
    cursor: pointer;
    padding: 0.8em 0;
    margin: 30px 0 20px;
    font-size: 1rem;
    color: #303030;
    font-family: "Noto Sans", serif;
}

.close-goal-btn {
    color: red;
    border: none;
    background-color: transparent;
    font-weight: 600;
    cursor: pointer;
}

/* Form inputs */

.goal-form input,
.to-do-form input {
    padding: 0.6em;
    border-radius: 5px;
    border: none;
    font-family: "Noto Sans", serif;
    font-size: 1rem;
}

.goal-form input[type="radio"]+label {
    padding: 0 0.5em 0 0.5em;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    font-size: 1rem;
    white-space: nowrap;
}

/* Form labels and legends */
.goal-form label,
.goal-form legend {
    padding: 0.95em 0 0.65em;
}

/* Form fieldsets */

.goal-form fieldset {
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 0.5px solid black;
    box-sizing: border-box;
}

/* Form date */

/* Form submits */

.goal-form input[type="submit"] {
    background-color: #747474;
    color: #2a2a2a;
    max-width: 40%;
    margin: 30px 0 20px;
    padding: 0.8em 0;
    cursor: pointer;
}

@media (min-width: 650px) {
    .goal-form {
        position: fixed;
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
    }

    .goal-form-internal {
        padding: 1.25em;
    }

    .goal-form-external {
        padding: 0.5em;
        border: 10px solid #d9d9d9;
    }

}

@media (min-width: 1024px) {
    .goal-form {
        width: 600px;
    }
}

@media(min-width: 1550px) {
    .goal-form {
        left: 50%;
        transform: translateX(-50%);
    }

    .goal-form-external,
    .saved-goal-external {
        width: 600px
    }
}

@media (max-width: 600px) {
    .goal-form fieldset {
        align-items: flex-start;
    }

    .goal-form input[type="radio"]+label {
        padding: 0.25em 0;
        font-size: 1rem;
    }
}