header {
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
}

h1 {

    margin: 0;


}

.countdown {
    font-size: 1.25rem;

}