header {
    display: flex;
    flex-direction: column;
    padding: 2em 0.8em 1.2em;
}

.description {
    padding: 0.4em 0 0;
}

.countdown {
    font-size: 1rem;
    padding: 1.2em 0 0;
}

.secondary-header {
    padding: 2em 0.8em 0.5em;
    margin: 0;

}

@media (min-width: 1300px) {
    header {
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        border-bottom: 1px solid black;

    }
}

@media (min-width: 1024px) {
    .countdown {
        font-size: 1.25rem;
        padding: 1em 0;
    }

    .description {
        padding: 0;
    }

    header {
        padding: 2em;
        margin: 0 0 0 280px;
    }

    .secondary-header {
        margin: 0 0 0 280px;
        padding: 2em 1.3em 0.5em;
    }
}