/* Saved Goal */

/* To do form */

input[type="checkbox"] {
    transform: scale(1.2);
}

.to-do-form {
    display: flex;
    flex-direction: column;
}

.to-do-form input {
    width: 100%;
}

.to-do-label {
    font-weight: 700;
    padding: 0.5em 0;
}

.to-do-input {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin: 0.5em 0 0.2em;
}

.to-do-item {
    text-decoration: none;
    margin: 0.2em 0;
}

.to-do-item-done {
    text-decoration: line-through;
}

.to-do-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.action-btns {
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin: 0 0.8em;

}

.delete-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: red;
    font-size: 1.3rem;
    display: flex;
}

.add-btn {
    border: none;
    font-size: 0.8rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 0.2em;
    cursor: pointer;
}


.saved-goal-external {
    margin: 20px;
}

.saved-goal-internal {
    background-color: #FAF9F6;
    border-radius: 5px;
    padding: 1.25em;
}

.goal-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.goal-details {
    margin: 2.25em 0 1.25em;
}

.goal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.goal-details p {
    margin: 0.2em 0 1.25em;
}

.goal-label {
    background-color: #D9D9D9;
    width: 150px;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
}

.goal-complete-btn {
    border: none;
    border-radius: 5px;
    background-color: #747474;
    width: 40%;
    cursor: pointer;
    padding: 0.8em 0;
    margin: 30px 0 20px;
    font-size: 1rem;
    color: #303030;
    font-family: "Noto Sans", serif;
}