.side-nav {
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    padding: 1em 0.8em;
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: var(--color4);
}

.side-nav h2 {
    font-size: 1rem;
    padding: 0.3em 0;
    font-weight: 500;
}

.goal-level-btn,
.filter-btn {
    cursor: pointer;
    font-size: 0.8rem;
    color: #303030;
    border-radius: 5px;
    border: none;
    font-family: "Noto Sans", serif;
    padding: 0.5em;
}

.goal-level-btn {
    width: 100%;
    margin: 0.5em 0.5em 0.2em;
    background-color: var(--color3);
}

.filter-btn {
    width: auto;
    margin: 0 0.5em 0.5em;
    background-color: var(--color3);
}

.goal-levels-filter-btns,
.theme-btns {
    margin: 0 0 1em;
    flex-direction: row;
    display: flex;
}

.side-nav-actions,
.side-nav-add {
    flex-direction: column;
}

.filter-nav,
.theme-nav {
    flex-direction: column;
}

.active-btn {
    background-color: var(--color2);
    color: #303030;
    cursor: pointer;
    width: 100%;
    font-size: 0.8rem;
    border-radius: 5px;
    border: none;
    font-family: "Noto Sans", serif;
    padding: 0.5em;
    margin: 0.5em 0.5em;
}



@media (min-width: 1024px) {
    .side-nav {
        flex-direction: column;
        height: 100%;
        width: 280px;
        padding: 8em 2em;
        position: fixed
    }

    .goal-levels-filter-btns,
    .theme-btns {
        flex-direction: column;
    }
}