.theme-a {
    --color1: #FF88BE;
    --color2: #FEC4DD;
    --color3: #F9F0F2;
    --color4: #88BEFF;
    background-color: #FAF9F6;
}

.theme-b {
    --color1: #86A6D6;
    --color2: #86C7D6;
    --color3: #FAF5E0;
    --color4: #86D68E;
    background-color: #FAF9F6;
}

.theme-c {
    --color1: #3E8440;
    --color2: #BADD7F;
    --color3: #F7EFDA;
    --color4: #EFACA5;
    background-color: #FAF9F6;
}

.theme-d {
    --color1: #FC703C;
    --color2: #FFA175;
    --color3: #F4F3E6;
    --color4: #3CC8FC;
    background-color: #FAF9F6;
}

/* .button {
    background-color: var(--color1);
    margin: 0 280px;
} */