.theme-a {
  --color1: #ff88be;
  --color2: #fec4dd;
  --color3: #f9f0f2;
  --color4: #88beff;
  background-color: #faf9f6;
}

.theme-b {
  --color1: #86a6d6;
  --color2: #86c7d6;
  --color3: #faf5e0;
  --color4: #86d68e;
  background-color: #faf9f6;
}

.theme-c {
  --color1: #3e8440;
  --color2: #badd7f;
  --color3: #f7efda;
  --color4: #efaca5;
  background-color: #faf9f6;
}

.theme-d {
  --color1: #fc703c;
  --color2: #ffa175;
  --color3: #f4f3e6;
  --color4: #3cc8fc;
  background-color: #faf9f6;
}

/* .button {
    background-color: var(--color1);
    margin: 0 280px;
} */
