html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", serif;
  color: #303030;
  background-color: #FAF9F6;
  font-size: 1rem;
}

h1,
h2,
h3,
h3,
p {
  margin: 0;
}

h3 {
  font-size: 1rem;
}

.medium-bold-text {
  font-weight: 700;
}

.small-bold-text {
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0 0 0.5em;
}

.small-text {
  font-size: 0.8rem;
  font-weight: 400;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px 5px;
  gap: 20px;
  max-width: 1920px;
}

main {
  margin: 0
}



@media (min-width: 1024px) {
  .wrapper {
    margin: 0 auto 0 280px;
  }
}

@media(min-width: 1550px) {
  .wrapper {
    justify-items: left;
  }

}

@media(min-width: 635px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    padding: 20px;
  }

  .small-text,
  .small-bold-text {
    font-size: 0.9rem;
  }

  .small-bold-text {
    padding: 0 0.5em 0.5em;
  }
}

/* CSS Grid
.wrapper {
  max-width: 100%;
  margin: 3.125em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  padding: 2em 1.5em;
  border-radius: 5px;
} */