html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", serif;
  color: #303030;
  background-color: #FAF9F6;

}

/* Goal Form */

.goal-form {
  display: flex;
  flex-direction: column;
  max-width: 30%;
}