html {
  box-sizing: border-box;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Noto Sans", serif;
  color: #303030;
  background-color: #FAF9F6;
  font-size: 1rem;
}

h1,
h2,
h3,
h3,
p {
  margin: 0;
}

h3 {
  font-size: 1rem;
}

.medium-bold-text {
  font-weight: 700;
}

.small-bold-text {
  font-weight: 600;
  font-size: 0.9rem;
  padding: 0 0.5em 0.5em;

}

.small-text {
  font-size: 0.9rem;
  font-weight: 400;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1920px;
}

/* CSS Grid
.wrapper {
  max-width: 100%;
  margin: 3.125em auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  grid-auto-rows: minmax(100px, auto);
  padding: 2em 1.5em;
  border-radius: 5px;
} */